@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: inherit;
  background-color: #F8F9FA;
}

html, body, #__next {
  height: 100%;
}

